body {
	background-image: url('http://www.pixeden.com/media/k2/galleries/165/003-subtle-light-pattern-background-texture-vol5.jpg');
}

/*top nav*/
body {margin:0;}
.top-nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.top-nav-ul li  {
    float: left;
}

.top-nav-ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.top-nav-ul li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}